#
# dotphiles : https://github.com/dotphiles/dotphiles
#
# Git submodules in this repo
#
# Authors:
#   Ben O'Hara <bohara@gmail.com>
#

[submodule "dotsync"]
	path = dotsync
	url = git://github.com/dotphiles/dotsync.git
[submodule "vim/dotvim"]
	path = vim/dotvim
	url = git://github.com/dotphiles/dotvim.git
[submodule "liquidprompt/liquidprompt"]
	path = liquidprompt/liquidprompt
	url = git://github.com/nojhan/liquidprompt.git
[submodule "ipython/jupyter-themes"]
	path = ipython/jupyter-themes
	url = git://github.com/andsor/jupyter-themes
[submodule "colorschemes/base16-shell"]
	path = colorschemes/base16-shell
	url = git@github.com:chriskempson/base16-shell.git
