#
# dotphiles : https://github.com/dotphiles/dotphiles
#
# Git submodules in this repo
#
# Authors:
#   Ben O'Hara <bohara@gmail.com>
#

[submodule "dotsync"]
	path = dotsync
	url = git://github.com/dotphiles/dotsync.git
[submodule "zsh/dotzsh"]
	path = zsh/dotzsh
	url = git://github.com/dotphiles/dotzsh.git
[submodule "vim/dotvim"]
	path = vim/dotvim
	url = git://github.com/dotphiles/dotvim.git
[submodule "liquidprompt/liquidprompt"]
	path = liquidprompt/liquidprompt
	url = git://github.com/nojhan/liquidprompt.git
